<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>StringsTable</key>
    <string>Root</string>
    <key>PreferenceSpecifiers</key>
    <array>
        <dict>
            <key>Type</key>
            <string>PSMultiValueSpecifier</string>
            <key>Title</key>
            <string>Search engine</string>
            <key>Key</key>
            <string>engine</string>
            <key>DefaultValue</key>
            <string>google</string>
            <key>Titles</key>
            <array>
                <string>Google</string>
                <string>Ecosia</string>
            </array>
            <key>Values</key>
            <array>
                <string>google</string>
                <string>ecosia</string>
            </array>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>Force dark mode</string>
            <key>Key</key>
            <string>dark</string>
            <key>DefaultValue</key>
            <true/>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>Safe browsing</string>
            <key>Key</key>
            <string>secure</string>
            <key>DefaultValue</key>
            <true/>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>Block trackers</string>
            <key>Key</key>
            <string>trackers</string>
            <key>DefaultValue</key>
            <true/>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>Block cookies</string>
            <key>Key</key>
            <string>cookies</string>
            <key>DefaultValue</key>
            <true/>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>Block pop-ups</string>
            <key>Key</key>
            <string>popups</string>
            <key>DefaultValue</key>
            <true/>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>Allow JavaScript</string>
            <key>Key</key>
            <string>javascript</string>
            <key>DefaultValue</key>
            <true/>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>Remove ads</string>
            <key>Key</key>
            <string>ads</string>
            <key>DefaultValue</key>
            <true/>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>Remove screen blockers</string>
            <key>Key</key>
            <string>blockers</string>
            <key>DefaultValue</key>
            <true/>
        </dict>
    </array>
</dict>
</plist>
